<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlarmTo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AlarmTo.Properties.Settings>
            <setting name="LastDeviceID" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmOnW0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmOnW1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmOnW2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmOnW3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmOnW4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmOnW5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmOnW6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLoop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayFile" serializeAs="String">
                <value>C:\Windows\Media\Windows Ding.wav</value>
            </setting>
            <setting name="AlarmIsSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmOnHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlarmOnMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmMsg" serializeAs="String">
                <value>Wake Up !</value>
            </setting>
            <setting name="AlarmTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="soonzeMin" serializeAs="String">
                <value>5</value>
            </setting>
        </AlarmTo.Properties.Settings>
    </userSettings>
</configuration>